body {
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
}

.nav-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: rgb(183, 98, 194)!important;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.divisor {
    width: 1px;
    background: white;
}